<cart-notification>

  <div class="cart-notification-wrapper page-width">
    <div id="cart-notification" class="cart-notification focus-inset" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      
     <div class="cart-notification-inner">
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a href="{{ routes.cart_url }}" id="cart-notification-button" class="button button--secondary button--full-width"></a>
        <button class="Btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" style="transform: translateX(5px);">
          <circle cx="256" cy="256" r="224" fill="none" stroke="white" stroke-width="32" />
          <path d="M352 176L224 304l-96-96" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
        </svg>
                  <div class="text">Product added to your cart!</div>
        </button>
      </div>
    </div>
    </div>
  </div>
</cart-notification>
<script>
  $(document).ready(function() {
    // Add hover class to .Btn when the page loads
    $(".Btn").addClass("hover");
  });
</script>
{% style %}
  .cart-notification {
     display: none;
  }
{% endstyle %}
