<cart-notification>

  <div class="cart-notification-wrapper page-width">
    <div id="cart-notification" class="cart-notification focus-inset" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      
     <div class="cart-notification-inner">
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a href="{{ routes.cart_url }}" id="cart-notification-button" class="button button--secondary button--full-width"></a>
        <div class="Btn" style="margin-top: -450px; display: flex; align-items: center; justify-content: flex-start; width: 45px; height: 45px; border: none; border-radius: 50%; cursor: pointer; position: relative; overflow: hidden; transition-duration: .3s; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199); background-color: rgb(98, 238, 196); animation: hoverAnimation 3s infinite;">
          product successfully added to cart!
        </div>


      </div>
    </div>
    </div>
  </div>
</cart-notification>

{% style %}
  .cart-notification {
     display: none;
  }
{% endstyle %}
