{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}">
        
      <div class="cart-notifications-product__info">
        <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
      
        <div class="product-item__price">
            <span class="quantity">{{ item.quantity }}</span>
          </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
