{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}">

      <div class="cart-notifications-product__info">
      
    </div>
  {%- endfor -%}
{%- endif -%}
