.cart-notification-wrapper .cart-notification {
  display: block;
}
.cart-notification-wrapper {
	position: relative;
}
.cart-notification {

    padding: 1rem 2rem;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
@media screen and (max-width: 479px) {
  	.cart-notification {
		right: 0;
	}
}
#cart-notification #cart .button.button--primary.button--full-width {
	background: var(--color-base-button-background-hover);
	color: var(--color-base-button-text-hover);
}

.cart-notification.animate {
  transition: transform var(--duration-short) ease,
    visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
  transform: translateY(0);
  transition: transform var(--duration-default) ease, visibility 0s;
  visibility: visible;
  pointer-events: none;
}

.cart-notification__header {
  align-items: flex-start;
  display: flex;
  float: right;
}

.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
  color: var(--color-foreground);
  margin-right: 1rem;
  width: 1.3rem;
}

.cart-notification__links {
  text-align: center;
}

.cart-notification__links > * {
  margin-top: 1rem;
}

.cart-notification-product {
  align-items: flex-start;
  display: flex;
  padding-bottom: 20px;
}

.cart-notification-product dl {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__image {
	border: 1px solid var(--color-base-border);
	margin-right: 1.5rem;
    width: 100px;
    height: 90px;
}

.cart-notification-product__name {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
    font-family: var(--font-body-family);
    font-weight: 500;
}

.cart-notification-product__option {
    color: var(--color-base-text);
    margin-top: 1rem;
    font-family: var(--font-body-family);
}

.cart-notification-product__info {
    padding-top: 10px;
}

.cart-notification-product__option + .cart-notification-product__option {
  margin-top: 0.5rem;
}

.cart-notification-product__option > * {
  display: inline-block;
  margin: 0;
}

.cart-notification .cart-notification-inner {
    width: 500px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 30px;
}
.cart-notification__links {
    text-align: center;
    grid: "auto auto";
    display: grid;
    column-gap: 10px;
}
.cart-notification .cart-notification-inner .link.button-label {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px 0 0;
    text-decoration: underline;
}
.cart-notification .cart-notification-inner .link.button-label:hover {
    color: var(--color-base-button-background-hover);
}
.cart-notification__header .modal__close-button.link {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*
these are the styles for the new-added button style notification
*/

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}